body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9fafc;
  margin: 10px;
}
h1 {
  font-size: medium;
}
.navbar {
  list-style: none;
  padding: 0px;
  color: #69696a;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 140px;
}
a {
  color: #69696a;
  text-decoration: none;
  display: flex;
}
#hire-us {
  color: #fff;
  background-color: #000;
  border-radius: 50px;
  width: 94%;
  padding: 7px;
  display: flex;
  justify-content: space-evenly;
  height: 20px;
  margin: 5px;
}
.call-to-action {
  width: 94%;
  padding: 7px;
  border-radius: 50px;
  color: #f9fafc;
  background-color: #000;
  display: flex;
  justify-content: center;
  margin: 5px;
}

p {
  border-left: 3px solid #69696a;
  padding-left: 10px;
}

footer {
  font-family: "Open Sans", sans-serif;
  border: 16px solid rgba(247, 193, 162, 0.7);
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
.footer {
  position: fixed;
  left: 15px;
  bottom: 5px;
  color: #000;
  font-size: small;
}

.link-container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 140px;
  right: 15px;
  bottom: 5px;
  color: #69696a;
  font-size: small;
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }
  div.top-chirpus {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  ul.navbar {
    justify-content: space-evenly;
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-size: small;
    height: 24px;
  }
  #hire-us {
    padding: 6px;
    display: inline;
  }
  .space {
    margin: 10%;
  }
  .grey-line {
    width: 50%;
  }
  .call-to-action {
    width: 50%;
  }
  .circle-container {
    position: relative;
    right: -5%;
  }
  .circle1 {
    background-color: rgba(247, 136, 167, 0.6);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: absolute;
    right: 11%;
    top: -57px;
  }
  .circle2 {
    background-color: rgba(247, 193, 162, 0.7);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    right: 4%;
    margin: 10px;
    top: 56px;
  }

  .circle3 {
    background-color: rgba(207, 130, 213, 0.6);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 4.5%;
    top: -4px;
  }
}
